# IDE
.vscode
.idea
.history
*.log

.storybook
stories

# CI/CD
.travis.yml

# Source code
src

# Configs 
jest.config.js
rollup.config.js
tsconfig.json

# Docs
docs/
examples/
cypress/
cypress/react-testing-pages/src/components/lottie-react.js